{% load static from staticfiles %}

<div class="divisionSix">
	<div class="divisionSixContent">
	<div class="divisionSixContentTitle">
	<h2>We service most makes and models </h2>
	<h4>Enjoy convenient two wheeler repair and maintainence services at your home or office. It's as easy as 1-2-3.</h4>
	</div>
        <div class="bikeBrands bajajDiv">
	<img class="bajajImg" src="{% static 'images/Bajaj_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands heroDiv">
	<img class="heroImg" src="{% static 'images/Hero_bw.jpg' %}"/>
	</div>
	<div class="bikeBrands enfieldDiv">
	<img class="enfieldImg" src="{% static 'images/Enfield_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands hondaDiv">
	<img class="hondaImg" src="{% static 'images/HondaBW.jpg' %}"/>
	</div>
	<div class="bikeBrands ktmDiv">
	<img class="ktmImg" src="{% static 'images/KTM_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands mahindraDiv">
	<img class="mahindraImg" src="{% static 'images/Mahindra_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands suzukiDiv">
	<img class="suzukiImg" src="{% static 'images/Suzuki_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands tvsDiv">
	<img class="tvsImg" src="{% static 'images/TVS_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands vespaDiv">
	<img class="vespaImg" src="{% static 'images/Vespa_BW.jpg' %}"/>
	</div>
	<div class="bikeBrands yamahaDiv">
	<img class="yamahaImg" src="{% static 'images/Yamaha_BW.jpg' %}"/>
	</div>
	</div>
</div>
