
{% load static from staticfiles %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/select2.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/featherlight.css' %}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/page.css' %}" />
	<link rel="stylesheet" href="{% static 'css/super-panel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Side Bar -->
	<!-- <link rel="stylesheet" href="{% static 'css/sidebars.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" /> -->
