{% load static from staticfiles %}



<div class="divisionNine">
	<div class="divisionNineContent">
		<div class="easyThree">
			<h3>Bikeshed</h3>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Services</a></li>

		</div>
		<div class="walletThree">
			<h3 style="margin-left: -77px;">Legal</h3>
			<li><a href="#">Service warranty</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms of Use</a></li>
        </div>
		<div class="happyThree">
			<h3 style="margin-left: -77px;">For Mechanics</h3>
			<li><a href="#">Mechanics join us</a></li>
			<li style="margin-top: -55px;">
			<a target="_blank" href="https://www.facebook.com/BikeShedIndia/?fref=ts "><h3 style="float: left;"><i class="fa fa-facebook"></i></h3></a>
			<a style="margin-left: 32px;display: block;" target="_blank" href="https://twitter.com/bikeshedin"><h3 style="float: left;"><i class="fa fa-twitter"></i></h3></a>
			<a style="margin-left: 32px;display: block;" target="_blank" href="https://www.instagram.com/bikeshed.in/"><h3 style="float: left;margin-left: 16px;"><i class="fa fa-instagram" /></h3></i></a></li>
        </div>
    </div>
	<h5>&#169; 2015-16 Bikeshed. Made with love in Collab House</h5>
</div>
